#counterlabel{
display: block;
text-align: center;
font-size: 10em;
}
#btncontainer{
  text-align: center;
}
.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: lightblue;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ;
}

.buttons:hover{
  background-color: hsl(214, 100%, 56%);
}

#noinput{
  
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}